@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,200;1,500&display=swap');


/* Se elije la fuente desde fonts y luego le metemos los estilos */
.external-css-font-file{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.external-google-font-declaration-with-link-inside-hmtl {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight:300 ;
    font-style: italic;

}

.prueba{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
        
}
p{
    color: red;
}

#welcome p span {
    font-size: 30px;
    background-color: yellow;
}

.especificidad .explanation .hello #rock {
    color: aqua;
}