@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

}

#header{
    background-image:url(../images/apple-pie.jpg);
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* width: auto; */
    /* padding-top: 50px; */
    /* position:relative; */
     
  }

 h1 {
    
    font-weight:100 ;
    font-size:5rem ;
    color: white;
}

h3{
    font-size: 2rem;
    margin: 20px 0;

}
.main{
    margin: 2rem 3rem;
    text-align: justify;
}

ul, ol {
    margin-left: 40px;
    line-height: 30px;
    
}
ul li{
    list-style-type: "- ";
}
ol{
    list-style-type: none;
    counter-reset: section;
}
#id-3 ol li::before {
    content: "" counter(section)")";
    counter-increment: section;
}
hr { 
    border: solid 1.5px grey;
    margin: 10px;
}
img{
    
    display:block;
    margin:20px auto 0;
    width: 60%;
    /* padding: 20px; */
    }
